@model IEnumerable<CarDealer.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body car-card">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Brand)</b>:
                        @Html.DisplayFor(modelItem => item.Brand!.Name)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Model)</b>:
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.FuelType)</b>:
                        <span @{Write(item.FuelType!.Name == "Electric" ? "class=col-dodgerblue" : "");}>@Html.DisplayFor(modelItem => item.FuelType.Name)</span>
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Color)</b>:
                        @Html.DisplayFor(modelItem => item.Color)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Mileage)</b>:
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.ManufacturingDate)</b>:
                        @Html.DisplayFor(modelItem => item.ManufacturingDate)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Price)</b>:
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>